<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="dedekDB" connectionString="Server=6c89101f-5324-45f8-acb3-a46c0121a9c4.sqlserver.sequelizer.com;Database=db6c89101f532445f8acb3a46c0121a9c4;User ID=kstqprgbbprsrtos;Password=Vm3Cvj2WUYCfnX8XkCmogyk4eyDkEZF74ZYTjsfoZ7ZTniWmKZFkHtLwa8y6MPq4;" providerName="System.Data.SqlClient" />
    <add name="masterDB" connectionString="Server=bfd68aba-d7d6-43a2-89d5-a4970102964f.sqlserver.sequelizer.com;Database=dbbfd68abad7d643a289d5a4970102964f;User ID=mfospaqctcuuhlbm;Password=EQGFKTdoabGeT8k6XLcAR5CqNoAjdDh7hx3UxvTRitRJzHtV3YaLzKVHmrZws2kC;" providerName="System.Data.SqlClient" />
    <add name="czakyDB" connectionString="Server=d26d2050-fb00-4580-9ab8-a45800fca5da.sqlserver.sequelizer.com;Database=dbd26d2050fb0045809ab8a45800fca5da;User ID=ugstdpdhdgeyykos;Password=jtfyvnVceK3bn7zbiS5m5UN3usKda2gjsbnK5xbHAQQERgdiVhWoBvVxMmedKSck;" providerName="System.Data.SqlClient"/>
    <add name="KuznikRoprDB" connectionString="Server=df3d045b-64e4-4541-9f85-a45d0134a75f.sqlserver.sequelizer.com;Database=dbdf3d045b64e445419f85a45d0134a75f;User ID=jukcgvdmddalhauv;Password=hFUGTk5EAeRagP3yzNKc86Rm2Gg4uQsuJreZh4hkZ3MkiivAnJbMxTZjXHPkebkS;" providerName="System.Data.SqlClient"/>
    <add name="TerkaDB" connectionString="Server=0f4ec898-5cf3-43b0-9fa6-a480009cb8e4.sqlserver.sequelizer.com;Database=db0f4ec8985cf343b09fa6a480009cb8e4;User ID=ubwtgnuozmptjhin;Password=qFRyTxB4qimHPMmqFtRWvj7BaXeXAkAek5zFpjNyH7Egto2rrtpcGEigHpx5tMAe;" providerName="System.Data.SqlClient"/>
    

  </connectionStrings> 
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.web>
    <trust level="Full"/>
    <customErrors mode="Off" />
  </system.web>
<system.data>
		<DbProviderFactories>
			<remove invariant="FirebirdSql.Data.FirebirdClient" />
			<add name="FirebirdClient Data Provider" invariant="FirebirdSql.Data.FirebirdClient" description=".NET Framework Data Provider for Firebird" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient" />
		</DbProviderFactories>
	</system.data></configuration>